.users{
    display:flex ;
    justify-content: center;
    margin-left: 0;
    margin-right:0;
    width: 100%;
    max-width: 100%;
    background-color: rgba(228, 226, 226, 0.89);
    height: 120vh;
    min-height: 100vh;
   
}
.users-container{
    margin-top: 150px;
    width: 100%;
    align-items: center;
} 
/* .users-image{
    width: 100%;
    z-index: -1;
    margin-bottom: -350px;
    mask-image: linear-gradient(to bottom,rgba(0,0,0,1),rgba(0,0,0,0));
    position: relative;
} */
.user-container{
    z-index: 1;
    /* margin-top: 0; */
    margin-top: 70px;
  
}
.user{
 
    background-color: rgba(0, 0, 0, 0.486);
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 70%;
    color: rgb(255, 255, 255);
    padding: 20px;
    border-radius: 10px;
    margin: auto auto;
    /* font-weight: bold; */
    margin-bottom: 10px;
    /* border-bottom: rgba(28, 100, 102, 0.637) 4px solid;
    border-left: rgba(28, 100, 102, 0.637) 4px solid; */
    border-bottom:  rgba(28, 81, 102, 0) 4px solid;
    border-left:  rgba(28, 81, 102, 0) 4px solid;

}
.head {
    background-color: #6b80a5;

    ;
 /* background-color: rgba(28, 100, 102, 0.637); */
}
.user h3{
    font-size: 12px;
    font-weight: bold;
}
.user h4{
    margin-top: 10px;
    font-size: 17px;
}
.search{
    z-index: 1;
    margin-bottom: 10px;
    position: absolute;
    width: 70%;
    margin-right: 15%;
}
.users-info h4{
    padding-top: 100px;
}
.users-info-container h4{
    margin-top: 20px;
}


@media only screen and (max-width: 700px) {
    .user{
        width: 100%;
    }
  }
  .users-user{
      cursor: pointer;
  }
.users-user:hover{
    border-bottom:  #49628d 4px solid;
    border-left:  #6b80a5 4px solid;

}
.users-user:active{
   
    color: #BDC6D9;
}
