.challenge-container{
    width: 90%;
    z-index: 1;
    /* margin: 0 auto; */
    margin-top: 150px;
    position: absolute;
    display: grid;
    justify-content:space-around;
    grid-template-columns: 30% 60%;
    margin-right: 3%;
   
    

}
.challenge-slide{
    width: 100%;
    display: flex;
    flex-direction: column;
}
.chall-slide-header{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-bottom: 10px;
}
.chall-level{
    display: flex;
    flex-direction: row;
    justify-content: center;
}
.editor{
    width: 100%;
    border: 1px solid;
    padding: 5px;
    background-color: #272822;
}
.disc{
    margin-bottom:50px;
    width: 100%;
    text-align: center;
    font-weight: bold;
    color: #7391C8;
 
    
}
table, th, td {
    border: 1px solid black;
    border-collapse: collapse;
  }
  .challenge-title{
      display: flex;
      flex-direction: row;
      justify-content:space-around ;
      width: 100%;
  }
  .title-challenge{
      width: 150px;
      font-weight: bold;
      color: #52688F;
      
      
  }
  .title-disc{
      color: #52688F;
     margin-right: 0;
     margin-bottom: 10px;
     font-weight: bold;
  }
  th{
      background-color: #BDC6D9;
      color: white;
  }
  .challenge-bottun{
      display: flex;
      flex-direction: row;
      justify-content: space-between;
  }
  td{
      color: rgba(104, 101, 101, 0.767);
      font-weight: 100;
  }
  .go-comment{
      padding: 5px;
      border-bottom: black 1px solid;
      border-left: black 1px solid;
  }
  .go-comment:hover{
     background-color: #52688F;
     color: white;
  }
  .go-comment:active{
    transform: scale(1.1);
 }
 .run{
     font-size: 20px;
     font-weight: bold;
     background-color: #52688F;
     padding: 10px;
     border-radius: 5px;
     color: white;
     width: 100px;
    margin-right: 85%;
    margin-bottom: 20px;
     
 }
 .run:hover{
    background-color: rgb(128, 128, 128);

 }
 .run:active{
    background-color: rgb(128, 128, 128);
    transform: scale(1.1);
 }
 /* .challenge-collection{
     display: flex;
     flex-direction: column;
    
 } */