.challenge-container{
    width: 90%;
    z-index: 1;
    /* margin: 0 auto; */
    margin-top: 150px;
    position: absolute;
    display: grid;
    justify-content:space-around;
    grid-template-columns: 45% 45%;
    margin-right: 3%;
   
    

}
.challenge-slide{
    width: 100%;
    display: flex;
    flex-direction: column;
}
.chall-slide-header{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-bottom: 10px;
}
.chall-level{
    display: flex;
    flex-direction: row;
    justify-content: center;
}
.editor{
    width: 100%;
}
.disc{
    margin-bottom:50px;
    width: 100%;
    text-align: center;
}
table, th, td {
    border: 1px solid black;
    border-collapse: collapse;
  }
  .challenge-title{
      display: flex;
      flex-direction: row;
      justify-content:space-around ;
      width: 100%;
  }
  .title-challenge{
      width: 150px;
  }
  .title-disc{
     margin-right: 0;
     margin-bottom: 10px;
  }