.editButt{
    margin-right: 90%;
}
.avatar{
    display: flex;
    flex-direction: row;
    margin-bottom: 15px;
}
.line{
    margin-left: 15px;
}
.fullname{
    display: flex;

}
.name{
    margin-right: 10px;
    color: rgba(255, 255, 255, 0.548);
}
.textcolor{
    color:#425069; 
    font-weight: bold;
}
.names{
    padding-top: 50px;
}
.value{
    font-family: 'Courier New', Courier, monospace;
}
