.challenges-container{
    display: grid;
    grid-template-columns: 25% 25% 25%;
    justify-content:space-evenly;
   
  
    
}
.challenges-box{
   background-color: rgba(0, 0, 0, 0.616);
    width: 100%;
    max-width: 400px;
    display: flex;
    flex-direction: column;
    color: white;
    padding-bottom: 10px;
    padding-top: 10px;
    padding-left: 10px;
    padding-right: 10px;
    margin-bottom: 50px;
    border-radius: 20px;
    /* border-left: rgb(26, 131, 134) 5px solid;
    border-bottom: rgb(26, 131, 134) 5px solid; */

    border-left: rgb(27, 153, 211) 5px solid;
    border-bottom: rgb(27, 153, 211) 5px solid;
    /* border-top:  rgba(28, 100, 102, 0.637) 5px solid;
    border-bottom:  rgba(28, 100, 102, 0.637) 5px solid; */
    box-shadow: rgba(17, 12, 46, 0.15) 0px 48px 100px 0px;
}



.challenges-point{
    display: flex;
    flex-direction: row;

    
}
.last{
    justify-content: space-between;
    padding-top: 10px;
    padding-bottom: 5px;
    /* background-color: rgba(0, 0, 0, 0.548); */
 
}
.contents{
    justify-content:center;
}
.challenges-title{
    /* padding-top: 10px; */
    padding-bottom: 10px;
    color: rgb(27, 153, 211);
    font-weight: bold;
    font-size: 20px;
 
}
.challenges-content{
    padding-top: 10px;
    margin-bottom: 10px;
    /* background-color: rgba(0, 0, 0, 0.548); */
}
.active{

    color:rgb(192, 231, 231); ;
}
.notactive{
    color: rgb(182, 102, 102);
}
.contents .tit{
    margin-left: 10px;
}
.icon-challenges{
    color: rgba(27, 153, 211, 0.568);
    font-size: 30px;
    /* margin: 0 auto; */
}
.challenge-open{
cursor: pointer;
padding: 1px;
}
.challenge-open:hover{
   border-bottom: rgba(27, 153, 211, 0.568) 1px solid;
}
.challenge-open:active{
    transform: scale(1.1);
}
